---
layout: single
classes: wide
permalink: /archive
title: Hareline Archive
last_modified_at: 1999-01-01
---

{% assign runsInYear = site.hareline | group_by_exp: 'run', 'run.date | date: "%Y"' %}
<ul class="taxonomy__index">
  {% for year in runsInYear reversed %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for year in runsInYear reversed %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      <table>
      {% for run in year.items reversed %}
        {% comment %} The day of week (e.g. 'Monday') should be highlighted (shown in red) if it is other than Monday or if there is a range of dates {% endcomment %}
        {% if run.dow and run.dow != 1 or run.end_date != empty %} {% assign highlight = true %} {% else %} {% assign highlight = false %} {% endif %}
        {% capture dow %}
          {% if highlight %}<span style='color:red'>{% endif %}
          {{ run.date | date: '%A' -}}{% if run.end_date != '' %}&ndash;{{- run.end_date | date: '%A' }}{% endif %}
          {% if highlight %}</span>{% endif %}
        {% endcapture %}
        <tr>
          <td>{{ dow }}</td>
          <td>{% if run.date_display %}{{ run.date_display }}{% else %}{{ run.date | date: '%e %B %Y' }}{% endif %}</td>
          <td>{{ run.time }}</td>
          <td><a href="{{ run.url | relative_url }}">{{ run.other_hash | default: run.hash }} {% if run.number %} #{{- run.number }} {% endif %}
              {% if run.name %}<br>{{ run.name }} {% endif %}</a></td>
          <td>{% if run.map_url %}<a href="{{ run.map_url }}">{% endif %}{{ run.location }}{% if run.map_url %}</a>{% endif %}</td>
          <td>{{ run.hares }}</td>
          <td>{{ run.content }}</td>
        <tr>
      {% endfor %}
      </table>
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}


