---
layout: single
classes: wide
permalink: /hareline
title: Hareline
last_modified_at: 1999-01-01
---

{% comment %}
This selects all runs whose date is after the time the site is generated.  The site is
regenerated each daily (shortly after midnight), so this picks up all future runs
{% endcomment %}
{% assign site_date = site.time | date: '%Y%m%d' | plus: 0 %}
{% assign runs = site.hareline | where_exp: "item", "site_date <= item.ordinal_date" %}

<div>
  <table>
    <tr>
      <th colspan="2">Date</th>
      <th>Time</th>
      <th>Hash</th>
      <th>Location</th>
      <th>Hares</th>
      <th></th>
    </tr>
    {% for run in runs %}
      <tr>
        {% capture dow %}{{ run.date | date: '%A' }}{% endcapture %}
        {% if run.dow and run.dow != 1 %}{% capture dow %}<span style='color:red'>{{ dow }}</span>{% endcapture %}{% endif %}
        <td>{{ dow }}</td>
        <td>{{ run.date | date: '%e %B %Y' }}{% if run.end_date != empty %}&nbsp;&ndash;<br>{{ run.end_date | date: '%e %B %Y' }}{% endif %}</td>
        <td>{{ run.time }}</td>
        <td><a href="{{ run.url | relative_url }}">
            {{ run.other_hash | default: run.hash }}
            {% if run.number %} #{{- run.number }} {% endif %}
            {% if run.name %}<br>{{ run.name }} {% endif %}</a></td>
        <td>{% if run.map_url %}<a href="{{ run.map_url }}">{% endif %}{{ run.location }}{% if run.map_url %}</a>{% endif %}</td>
        <td>{{ run.hares }}</td>
        <td>{{ run.content }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<div>
  <p class="text-center">
  <a href={{ "/archive" | relative_url }}>Run Archive</a>
  </p>
</div>
