{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.title %}
        {% comment %} This extracts the next run and displays a link {% endcomment %}
        {% assign site_date = site.time | date: '%Y%m%d' | plus: 0 %}
        {% assign runs = site.hareline | where_exp: "item", "site_date <= item.ordinal_date" %}
        {% assign run = runs[0] %}
        <p><a href={{ run.url | relative_url }}>{{ run.date | date: "%e %b" }} {{ run.time }}<br>{{ run.hares }}<br>{{ run.location }}</a>
      {% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    <div><a href="#" class="btn btn--success btn--small" onclick="document.body.style.backgroundColor='#7EF75A'">Polly Mode</a></div>
  </div>
{% endif %}
