---
layout: splash
classes: wide full-width
sidebar: false
---

<div class="dh3-header">
  <a href="/40th" class="dh3-title">Irish Nash Hash</a>
</div>

<div class="nav-buttons">
  <a href="/40th/programme"{% if page.permalink == '/40th/programme' %} class="active"{% endif %}>Programme</a>
  <a href="/40th/accommodation"{% if page.permalink == '/40th/accommodation' %} class="active"{% endif %}>Accommodation</a>
  <a href="/40th/registration"{% if page.permalink == '/40th/registration' %} class="active"{% endif %}>Registration</a>
  <a href="/40th/faq"{% if page.permalink == '/40th/faq' %} class="active"{% endif %}>FAQ</a>
  <a href="/40th/whoscumming"{% if page.permalink == '/40th/whoscumming' %} class="active"{% endif %}>Who's Cumming?</a>
</div>

{{ content }}

{% unless page.permalink == '/40th' %}<a href="/40th">← Irish Nash Hash</a>{% endunless %}