---
layout: single
classes: wide
---

<h2>Mismanagement Board</h2>

<div>
  <table>
    <tr>
      <th>Position</th>
      <th>Hash Name</th>
      <th>Mum Calls Me</th>
      <th>Email</th>
      <th>Mobile</th>
    </tr>
    {%- for contact in site.data.contacts.items -%}
    <tr>
      <th>{{ contact.position }}</th>
      <td><i>{{ contact.hashname }}</i></td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.mobile }}</td>
    </tr>
    {%- endfor -%}
  </table>
</div>

{{ content }}
