---
layout: single
classes: wide
---

<h2>Mismanagement Board</h2>

<div>
  <table>
    <tr>
      <th>Position</th>
      <th>Hash Name</th>
      <th>Mum Calls Me</th>
      <th>Email</th>
      <th>Mobile</th>
    </tr>
    {%- for hasher in site.data.mismanagement.items -%}
    <tr>
      <th>{{ hasher.position }}</th>
      <td><i>{{ hasher.hashname }}</i></td>
      <td>{{ hasher.name }}</td>
      <td>{{ hasher.email }}</td>
      <td>{{ hasher.mobile }}</td>
    </tr>
    {%- endfor -%}
  </table>
</div>

{{ content }}
