---
layout: single
---

<h1>
  {{ page.hash }}
  {% if page.number %} #{{- page.number }} {% endif %}
  {{ page.date }} {{ page.time }}
  {% if page.end_date %} - {{ page.end_date }} {% endif %}
</h1>

{% if page.name %} <h2>"{{ page.name }}"</h2> {% endif %}

<table>
    <tr>
        <th>Hares</th>
        <td>{{ page.hares | join: ', ' }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>
            {% if page.map_url %} <a href="{{ page.map_url | urlencode }}"> {% endif %}
            {{ page.location }}
            {% if page.map_url %} </a> {% endif %}
            {% if page.directions_url %} (<a href="{{ page.directions_url | urlencode }}">Directions</a>) {% endif %}
        </td>
    </tr>
    {% if page.w3w %}
    <tr>
        <th>W3W</th>
        <td>
            {% capture w3w_url -%}https://w3w.co/{{ page.w3w }}{%- endcapture %}
            <a href="https://w3w.co/{{ page.w3w }}">{{ page.w3w }}</a>
        </td>
    </tr>
    {% endif %}
</table>

{{ page.body }}
